@using WebGrease.Css.Extensions
@model IEnumerable<Twitter.Models.Tweet>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        @Html.DisplayForModel()
    </div>
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Tweet", "New", "Tweets", null, new { @class = "btn btn-default" });
        }
    </div>
    
</div>